services:
  frontend:
      container_name: frontend
      image: nextapp:1.0.0
      build:
        context: ./bracket_frontend
        dockerfile: next.dockerfile
      ports:
        - "3000:3000"
      environment:
        - NEXT_PUBLIC_API_URL=http://localhost:8000
      depends_on:
        - webserver
  webserver:
      container_name: webserver
      image: buzzbumble/webserver:1.0.0
      build:
        context: ./backend
        dockerfile: go.dockerfile
      environment:
        DATABASE_URL: 'postgres://postgres:postgres@db:5432/bracketdb?sslmode=disable'
      ports:
        - '8000:8000'
      depends_on:
        - db
  db:
    container_name: db
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bracketdb
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
